@import "../../styles/variables.scss";

#dsc-product-details-section {
  padding: 20px 0;
}
.dsc-card-tags {
  display: flex;
  flex-wrap: wrap;
}

.dsc-product-details-top {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dsc-product-details-top img {
  width: 250px;
}

.dsc-product-details-bottom {
  padding: 10px 20px;
}

.dsc-product-details-bottom h3 {
  color: $dsc-color-bg-quaternary;
  font-size: 20px;
}

.dsc-product-details-bottom h4 {
  font-size: 12px;
  color: $dsc-color-bg-tertiary;
}

.dsc-product-details-bottom p {
  font-size: 12px;
  font-weight: 400;
  color: $dsc-color-bg-tertiary;
  padding: 10px 0;
}

#dsc-product-details {
  margin: 20px 0;
  width: 100%;
  max-width: 900px;
}

@media (min-width: 576px) {
  .dsc-btn {
    max-width: 220px;
  }
}
